@import "tailwindcss";

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.delete {
  color:red;
}

form {
    margin-bottom: 30px;
    border: 1px solid #F0DAF0;
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 55px -30px #000;
}

body {
    padding-top: 81px;
}

form.updata_form {
    bottom: 0;
    top: unset;
    margin-bottom: 0;
}

.table_box {
    max-width: 600px;
    margin: 110px auto 0;
    width: 100%;
}